<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
</head>
<body>
  {% section 'hero' %}
  {{ content_for_layout }}
  <script src="{{ 'script.js' | asset_url }}"></script>
</body>
</html>